/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
    font-family: 'ZantrokeRegular';
    src: url(/assets/Zantroke-webfont.eot);
    src: url(/assets/Zantroke-webfont.eot?#iefix) format('embedded-opentype'),
         url(/assets/Zantroke-webfont.woff) format('woff'),
         url(/assets/assets/Zantroke-webfont.ttf) format('truetype'),
         url(/assets/Zantroke-webfont.svg#ZantrokeRegular) format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lobster13Regular';
    src: url(/assets/Lobster_1.3-webfont.eot);
    src: url(/assets/Lobster_1.3-webfont.eot?#iefix) format('embedded-opentype'),
         url(/assets/Lobster_1.3-webfont.woff) format('woff'),
         url(/assets/Lobster_1.3-webfont.ttf) format('truetype'),
         url(/assets/Lobster_1.3-webfont.svg#Lobster13Regular) format('svg');
    font-weight: normal;
    font-style: normal;

}
